body {
    margin:0;
    padding:0;
    background: url("table.jpeg");
    height:100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button {
    background-color: #ecab49;
    border: none;
    color: #fff;
    padding: 0.7em 1em;
    cursor: pointer;
}

.draw-cards {
    font-size: 1.2rem;
    align-self: stretch;
}

.new-deck {
    align-self: start;
}

.card-slot {
    border: 1px solid #000;
    border-radius: 5px;
    height: 200px;
    width: calc(200px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
    margin-bottom: 50px;
}

.card {
    width:100%;
}
